@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
 --primary-color: aqua;
}

.drawer-side a.active {
    color: black;
    background-color: aqua;
}
.menu-horizontal a.active {
    color: black;
    background-color: aqua;
}